
/* Modal overlay */
.myModalOverlay {
position: fixed;       /* required to cover the screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.myModalOverlay--after-open {
  opacity: 1;
}

.myModalOverlay--before-close {
  opacity: 0;
}

.popup-header{
  color:white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-size:30px;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
  justify-content: space-between;
  align-items:center;

  background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background: linear-gradient( 125deg, #2E3192 , #1BFFFF);
  font-family: "Poppins", sans-serif;
  
  display: flex;
  cursor:grab;
}
.popup-header-tagline{
  font-size:20px;
  font-style:italic;
  
}
.button{
  align-self: stretch;
  background:rgb(8, 4, 255);
  width:auto;
  flex:0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color:white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-size:30px;
  font-weight: 800;

}
.button:hover{
  background:grey;
  width:auto;
  flex:0;
  
  
}


/* Modal content */
.myModalContent {
  position: absolute;
  top: 20%;
  left: 40%;
  right: 30%;
  bottom: 20%;
  background:white;
  border: 1px solid #ccc;
  border-radius: 4px;
 
  outline: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.myModalContent--after-open {
  opacity: 1;
  transform: translateY(0);
}

.myModalContent--before-close {
  opacity: 0;
  transform: translateY(-20px);
}
