body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(87, 87, 83);
  
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.mainTitle {
    color: #d8a028;
  -webkit-text-stroke: 2px black;
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.searchButton{
    font-size:12px;
    font-weight:medium;
}

.searchInput{
    font-size:12px;
    font-weight:medium;
}
.inputBar{
    margin-left:40px;
    font-size: 12px;
    font-weight:medium;
}

.searchButton:hover{
    background-color: #e3b949;
}